* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 20px;
}

.top-head {
    display: flex;
    gap: 30px;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 150px;
}

.anchor {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.blue-button {
    color: #ffffff;
    background-color: #0161fe;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}
/* /header */
 
/* main */
/* frist section */
.body-princ {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5% 15% 1% 15%;
    background-color: #b4d0e6;
}

.big-title {
    font-size: 80px;
    width: 1200px;
}

.first-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 450px;
    gap: 30px;
    line-height: 25px;
}

.arrow {
    width: 40px;
    margin-top: 40px;
}

.jumbo-img {
    width: 900px;
    position: absolute;
    right: 250px;
    bottom: 540px;
}

p {
    font-size: 20px;
}
/* /first section */

/* second section */
.second-section-header {
    padding: 10% 20% 1% 20%;
}

h2 {
    font-size: 40px;
}

.type-plan {
    display: flex;
    gap: 60px;
    list-style: none;
    padding-top: 60px;
    font-size: 20px;
}

/* /second section */
.plan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-plan {
    gap: 20px;
    padding: 30px 40px 0px 40px; 
    
}

.content {
    border: 4px solid #000000;
    width: 320px;
    height: 800px;
}

.content-bottom {
    border: 4px solid #000000;
    height: 320px;
    width: 1120px;
}
/* /main */